<ion-header>
  <ion-navbar>
    <ion-title>{{univ.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card>
    <img [src]="univ.picUrl"/>

    <ion-card-content>
      <ion-card-title>
        {{univ.fullname}}
      </ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <ion-icon name="pin"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <div *ngFor="let adress of adress">
              <ion-fab top right>
                <button ion-fab mini (click)="loadMap(adress.lat, adress.long, univ.fullname)"><ion-icon name="pin"></ion-icon></button>
              </ion-fab>
              <p>{{adress.adress}}</p>
              <p>{{adress.localIndication}}</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            <ion-icon name="call"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <div *ngFor="let adress of adress">
              <p>{{adress.tel1}}</p>
              <p>{{adress.tel2}}</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-2>
            <ion-icon name="mail"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <div *ngFor="let adress of adress">
              <p>{{adress.mail}}</p>
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Historique
    </ion-card-header>
    <ion-card-content>
      {{univ.description}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Filieres
    </ion-card-header>
    <ion-card-content>
      <ion-item-group>
        <ion-item-divider color="dark">BTS1</ion-item-divider>
        <div *ngFor="let filiere of filieres">
          <ng-template [ngIf]="filiere.cycle == 'BTS1'">
            <button ion-item (click)="showMatieres(filiere.$key, filiere.fullname)">
              {{ filiere.fullname }}
            </button>
          </ng-template>
        </div>

        <ion-item-divider color="dark">BTS2</ion-item-divider>
        <div *ngFor="let filiere of filieres">
          <ng-template [ngIf]="filiere.cycle == 'BTS2'">
            <button ion-item (click)="showMatieres(filiere.$key, filiere.fullname)">
              {{ filiere.fullname }}
            </button>
          </ng-template>
        </div>

        <ion-item-divider color="dark">Licence 3</ion-item-divider>
        <div *ngFor="let filiere of filieres">
          <ng-template [ngIf]="filiere.cycle == 'Licence 3'">
            <button ion-item (click)="showMatieres(filiere.$key, filiere.fullname)">
              {{ filiere.fullname }}
            </button>
          </ng-template>
        </div>

        <ion-item-divider color="dark">Master 1</ion-item-divider>
        <div *ngFor="let filiere of filieres">
          <ng-template [ngIf]="filiere.cycle == 'Master 1'">
            <button ion-item (click)="showMatieres(filiere.$key, filiere.fullname)">
              {{ filiere.fullname }}
            </button>
          </ng-template>
        </div>

        <ion-item-divider color="dark">Master 2</ion-item-divider>
        <div *ngFor="let filiere of filieres">
          <ng-template [ngIf]="filiere.cycle == 'Master 2'">
            <button ion-item (click)="showMatieres(filiere.$key, filiere.fullname)">
              {{ filiere.fullname }}
            </button>
          </ng-template>
        </div>
      </ion-item-group>
    </ion-card-content>
  </ion-card>

</ion-content>
